fastapi
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-openai==0.1.0
langchain_experimental==0.0.55
langsmith==0.1.31
openai==1.14.2
pydantic
pandas
pydantic_core
python-dotenv
python-multipart
uvicorn
tabulate
openpyxl
streamlit
plotly
statsmodels
pandasai
qdrant_client
chromadb
lida
tenacity==8.3.0